*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.popup {
  width: 100%;
  height: 100vh;
  padding-top: 50px;
  padding-bottom: 50px;
  overflow-y: auto;
  position: fixed;
  display: flex;
  z-index: 20;
}

@media (orientation: landscape) {
  .popup::after {
    content: "";
    background-color: #000000;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.9;
    z-index: -1;
    height: 100vw;
  }
}

@media (orientation: portrait) {
  .popup::after {
    content: "";
    background-color: #000000;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.9;
    z-index: -1;
  }
}

.popup__container {
  margin: auto;
  background-color: #ffffff;
  position: relative;
}

.your-feedback {
  background-color: #fff;
  color: #222;
}

.your-feedback-title {
  font-size: 2.2em;
  margin-top: 0;
  margin-bottom: 0.35em;
  text-align: center;
  text-transform: uppercase;
  font-family: OpenSans-bold;
  font-size: 1rem;
}


.popup-line::before {
  content: ""; 
  position: absolute; 
  border-top: 3px solid #e1d9bd; 
  width: 66px; 
  margin-top: 32px;
  margin-left: 25px;
}

.your-feedback-header {
  font-size: 1rem;
  padding-top: 50px;
  display: flex;
  justify-content: center;
}

.your-feedback-content {
  padding: 0 27px;
}

.select-label {
  display: block;
  margin-bottom: 12px;
}

.select {
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url(../svg/form-arrows.svg);
  background-size: 10px;
  background-repeat: no-repeat;  
  background-position: right 10px center;
  display: inline-block;
  width: 100%;
  height: 38px;
  padding-left: 10px;
  padding-right: 25px;
  margin: 0;
  border: none;
  background-color: #f9f9f9;
  font-size: 1rem;
  font-family: OpenSans-Regular;
  color: #8b8d8c;
}

.form-group {
  margin-top: 37px;
}

.checkbox-text {
  display: inline-block;
}

.radio-text::before {
  margin-right: 8px;
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  height: 20px;
  background-image: url(../svg/form-empty-circle.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 20px;
}
 
.radio:checked ~ .radio-text::before{
  background-image: url(../svg/form-circle.svg);
}

.radio {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  width: 1px;
}

.field {
  display: block;
  min-width: 100%;
  max-width: 100%;
  border: 2px solid #dadada;
  font-size: 1rem;
  padding: 20px;
  min-height: 130px;
  background-color: #f3f7f6;
  font-family: OpenSans-Regular;
}

.popup-button-subscription {
  margin-top: 18px;
  margin-bottom: 53px;
  border-style: none;
  color: white;
  font-size: 1rem;
  font-family: OpenSans-Bold;
  text-transform: uppercase;
  background-color: #b59f5b;
  width: 100%;
  height: 48px;
}

.popup-close {
  width: 1.4em;
  font-size: 20px; 
  position: absolute;
  top: -1.5em;
  right: 0;  
  text-indent: -9999px;
  background-image: url(../svg/form-x.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-color: #000000;
  border: 0;
  cursor: pointer;
}

@media (min-width: 1201px) {
  .popup__container {
    max-width: 390px;
    width: 32.5%;
  }

  .welcome-blog {
    min-width: 1200px;
    min-height: 450px;
    background-image: url(../images/banner-bg.jpg);
  }

  .nav-conteiner {
    max-width: 1200px;
    padding: 28px 15px 0 15px;
  }

  .logo {
    width: 15%;
  }

  .blog-name {
    font-size: 2.5rem;
  }
  
  .now-trend {
    width: 34.16%;
    height: 318px;
  }

  .now-trend:nth-child(n+2) {
    margin-left: 4px;
  }
  .title-post-name {
    font-size: 1.25rem;
  } 
  
  main {
    width: 818px;
  }

  .post {
    display: flex;
  }

  .post-name {
    margin-top: 5px;
    margin-bottom: 29px;
    font-size: 20px;
  }

  .post-link {
    font-size: 0.87rem;
  }

  .post-info {
    margin-left: 32px; 
  }

  .date-of-publication .author-publication {
    font-size: 0.75rem;
  }

  .picture-size {
    width: 380px;
    height: 294px;
  }

  .working-field {
    max-width: 1200px;
    padding-right: 15px;
    padding-left: 15px;
  }
  
  p {
    font-size: 16px;
  }
  
  aside {
    min-width: 275px;
    margin-left: 15px;
  }

  .name-conteiner {
    font-size: 14px;
  }

  .new-post-name {
    font-size: 14px;
  }

  .small-picture-size {
    width: 70px;
    height: 70px;
  }

  .new-post {
    width: 271px;
    height: 77px;
  }

  .search-field {
    width: 229px;
    height: 48px;
  }

  .button-search {
    width: 48px;
    height: 48px;
  }

  .address-field {
    width: 277px;
    height: 48px;
  }

  .button-subscription {
    width: 277px;
    height: 48px;
  }

  .decorative-line {
    width: 66px;
    margin-bottom: 23px;
  }
  
 .conteiner-tags {
    width: 277px;
  }

  .tag-tab {
    font-size: 12px;
  }
  
  .topic {
    font-size: 14px;
  }
  
  .degree {
    font-size: 12px;
    padding-left: 5px;
  }

  
  .products-body {
    width: 1120px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .product-offer {
    width: 318px;
    display: flex;
    flex-direction: column;
  }
  
  .product-images {
    width: 318px;
    height: 205px;
  }
  
  .products-box {
    width: 318px;
    padding: 34px 0;
    outline-offset: 21px;
    height: 100%;
  }
  
  .product-name {
    font-size: 20px;
  }
  
  .product__price {
    font-size: 20px;
  }
  
  .product__price_old {
    font-size: 14px;
  }
  
  .product__button {
    font-size: 14px;
  }
  
  .space-social-networks {
    height: 6.91%;
    width: 1170px;
  }
}

@media (min-width: 641px) {
  .nav-conteiner {
    display: flex;
    justify-content: space-between;
    margin-right: auto;
    margin-left: auto;
  }

  .logo {
    position: relative;
    z-index: 10;
  }
  .blog-name {
    max-width: 650px;
    margin-top: 112px;
    margin-left: auto;
    margin-right: auto;
  }

  .section-name {
    font-size: 1.25em;
  }

  .now-trend:nth-child(2n+2) {
    margin-left: 4px;
  }

  .post:nth-child(n+2) {
    margin-top: 60px;
  }
  
  .post-description {
    margin-top: 7.17%;
  } 
  
  .new-container-data:nth-child(n+2) {
    margin-top: 9.04%;
  }

  .line::after {
   left: 60px;
  }
}

@media (min-width: 641px) and (max-width: 1200px) {
  .popup__container {
    max-width: 390px;
    width: 60.84%;
  }

  .welcome-blog {
    min-width: 641px;
    min-height: 392px;
    background-image: url(../images/banner-bg-tablet.jpg);
  }

  .nav-conteiner {
    padding: 43px 35px 0 35px;
  }
  
  .logo {
    width: 20.7%;
  }

  .blog-name {
    font-size: 2.5rem;
  }

  .section-body {
    flex-wrap: wrap;
  }

   
@media (orientation: landscape) {
  .now-trend {
    width: calc(25% - 3px);
    min-height: 320px;
  }

  .now-trend:nth-child(3) {
    margin-left: 3px;
  }  
}

@media (orientation: portrait) {
  .now-trend {
    width: calc(50% - 2px);
    min-height: 320px;
  }
}

  .post-link {
    font-size: 0.87rem;
  }
  
  .title-post-name {
    font-size: 1.06rem;
    line-height: 1.29;
    padding-top: 17px;
  }

  main {
    width: 50.64%;
    margin-bottom: 24px;
  }

  .picture-size {
    width: 100%;
  }

  .post-info {
    margin-top: 16px; 
  }

  .post-name {
    margin-top: 18px;
    margin-bottom: 41px;
    font-size: 1.06rem;
  }

  .post-description {
    margin-top: 40px;
  }  

  .date-of-publication  .author-publication {
    font-size: 0.75rem;
  }
    
  .post-decorative-line {
    border-bottom: 3px solid #eeeeee;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 42px;
  }

  .products-body {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;    
  }

  .product-offer {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .working-field {
    min-width: 641px;
    padding-left: 35px;
    padding-right: 35px;
  }

  aside {
    width: 36.13%;
    margin-left: 35px;
  }

  p {
    font-size: 0.93rem;
  }

  .name-conteiner {
    font-size: 0.87rem;
  }

  .new-post-name {
    font-size: 0.87rem;
  }

  .small-picture-size {
    width: 9.19vw;
  }

  .search-field {
    width: 26vw;
    height: 48px;
  }

  .button-search {
    width: 6.3vw;
    height: 48px;
  }

  .address-field {
    width: 32.24vw;
    height: 48px;
  }

  .button-subscription {
    width: 32.24vw;
    height: 48px;
  }

  .decorative-line {
    width: 8.67vw;
    margin-bottom: 3.59%;
  }

  .conteiner-tags {
    width: 36.39vw;
    max-width: 350px;
  }

  .tag-tab {
    font-size: 0.75rem;
  }

  .topic {
    font-size: 0.87rem;
  }

  .degree {
    font-size: 0.75rem;
    padding-left: 0.65vw;
  }
  
  .product-images {
    width: 37.66vw;
  }

  .product-offer:nth-child(n+3) {
    margin-top: 6.7vw;
  }

  .products-box {
    width: 37.66vw;
    padding: 4.46vw 0;
    outline-offset: 2.75vw;
    height: 100%;
  }

  .product-name {
    font-size: 1.06rem;
  }

  .product__price {
    font-size: 1.25rem;
  }
  
  .product__price_old {
    font-size: 0.87rem;
  }

  .product__button {
    font-size: 0.87rem;
  }

  .space-social-networks {
    width: 98%;
  }
}

@media (max-width: 640px) {
  .popup__container {
    width: 91.66%;
    min-width: 294px;
  }

  .welcome-blog {
    min-width: 320px;
    height: 177.77vw;
    min-height: 630px;
    background-image: url(../images/banner-mobile.jpg);
  }
  
  .nav-conteiner {
    padding-top: 8.8%;
    padding-right: 2.53%;
  }

  .logo {
    position: absolute;
    width:100%;
    padding-top: 56.38%;
    z-index: 2;
    display: flex;
    justify-content: center;
    padding-left: 45px;
    padding-right: 45px;
  }

  .mq_mobile {
    width: 75vw;
    min-width: 240px;
    max-width: 300px;
    padding-left: 15px;
    padding-right: 15px;
  }

  nav {
    display: flex;
  }

  .blog-name {
    font-size: 1.62rem;
    margin-top: 70%;
  }

  .section-name {
    font-size: 1rem;
  }

  .decorative-line {
    width: 18.33%;
    margin-bottom: 6.38%;
    margin-top: 1%;
  }
  
  .section-body {
    flex-wrap: wrap;
  }
  
@media (orientation: landscape) {
  .now-trend {
    width: 50%;
    min-width: 320px;
    height: 89.44vw;
    min-height: 280px;
  }
}

@media (orientation: portrait) {
  .now-trend {
   width: 100%;
    min-width: 320px;
    height: 89.44vw;
    min-height: 280px;
  }
}

  .box {
    min-width: 280px;
  }

  .now-trend:nth-child(n+2) {
    margin-top: 3px;
  }

  .post-link {
    font-size: 0.87rem;
  }

  .title-post-name {
    font-size: 1rem;
    line-height: 1.24;
  }

  .illustration-post {
   display: flex;
   justify-content: center;
  }


  .picture-size {
    width: 91.66%;
    height: 70.55%;
  }

  .post-info {
    width: 91.66%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 4.44%;
    padding-bottom: 6.94%;
    border-bottom: 3px solid #eeeeee;
  }

  .post:nth-child(n+2) {
    margin-top: 9.72%;
  }  
  
  .post-name {
    margin-top: 1.66%;
    margin-bottom: 4.16%;
  }

  .line::after {
    left: 40px;
  }

  .post-description {
    margin-top: 4.16%;
  }
  
  .new-container-data {
    margin-top: 12.22%;
    margin-left: 15px;
    margin-right: 15px;
  }

  .search-group {
    width: 100%;
}

  .search-field {
    width: 100%;
    height: 50px;
  }

  .button-search {
    width: 50px;
    height: 50px;
  }

  .button-subscription {
    height: 50px;
    cursor: pointer;
  }

  .address-field {
    width: 100%;
  }

  .product-offer:nth-child(n+2) {
    padding-top: 15.27%;
  }

  .product-images {
    width: 79.16%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
  }

  .products-box {
    width: 79.16%;
    outline-offset: 6.11vw;
    padding-top: 6.66%;
    margin-left: auto;
    margin-right: auto;
  }

  .products-body {
    width: 91.66%;
    margin-left: auto;
    margin-right: auto;
  }

  .space-social-networks {
    width: 91.66%;
    min-width: 320px;
  }
}

@media (max-width: 1200px) {
  .site-navigation {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
  }
  
  .menu-button {
    width: 1.4em;
    height: 1em;  
    border: none;
    padding: 0;
    background-color: transparent;
    font-size: 20px;
    position: relative;
    text-indent: -9999px;
    cursor: pointer;
    z-index: 2;
  }
  
  .menu-button:before, .menu-button:after {
    content:"";
    width: 100%;
    height: 20%;
    border-radius: 5px;
    background-color: #ffffff;  
    position: absolute;
    left: 0;
  }
  
  .menu-button:before {
    top: 0;
  }
  
  .menu-button:after {
    bottom: 0;
  }
  
  .menu-button-label {
    width: 100%;
    height: 20%;
    margin-top: -0.1em;  
    border-radius: 5px;
    background-color: #ffffff;  
    position: absolute;
    left: 0;
    top: 50%;
  }

  .blog-name {
    width: 76.94%;
    min-width: 320px;
    margin-left: auto;
    margin-right: auto;
  }
}

.welcome-blog {
  background-repeat: no-repeat;
  background-position: center top;
  background-size:  100% 100%;
  background-color: #000000;
  position: relative;
  margin-right: auto;
  margin-left: auto;
}

.welcome-blog::after {
  content: "";
  background-color: #000000;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0.6;
  z-index: 1;
}

.link {
  text-decoration: none;
}

.site-navigation {
  list-style-type: none;
  display: block;
  padding-top: 0.75%;
  display: flex;
  justify-content: flex-end;
}

.site-menu-item {
  display: inline-block;
}

.site-menu-item:nth-child(n+2) {
  margin-left: 31px;
}

.tab {
  text-decoration: none;
  color: #ffffff;
  font-family: OpenSans-Regular;
  font-size: 1rem;
  position: relative;
  z-index: 10;
}

@font-face {
  font-family: OpenSans-Regular; 
  font-weight: normal; 
  font-style: normal;
  src: url(../fonts/OpenSans-Regular.ttf) 
}    

.blog-name {
  color: #ffffff;
  text-transform: uppercase;
  font-family: OpenSans-Bold;
  line-height: 1.6;
  position: relative;
  z-index: 10;
  text-align: center;
  text-decoration: none;
}

@font-face {
  font-family: OpenSans-Bold; 
  font-weight: bold; 
  font-style: normal;
  src: url(../fonts/OpenSans-Bold.ttf) 
}  
section {
  margin-right: auto;
  margin-left: auto;
}

.place-section-name{
  display: flex;
  justify-content: center;
  min-width: 320px;
}

.section-name {
  font-family: OpenSans-Bold;
  text-align: center;
  text-transform: uppercase;
}

.line {
  position: relative;
  display: inline-block; 
}

.line::after {
  content: ""; 
  position: absolute; 
  background: #e1d9bd; 
  width: 66px; 
  height: 3px; 
  bottom: -14px;
}

.decorative-line {
  border-bottom: 3px solid #e1d9bd;
  margin-right: auto;
  margin-left: auto;
}

.section-body {
  display: flex;
  margin-top: 42px;
}

.now-trend {
  position: relative;
  border-top-style: solid;
  border-bottom-style: solid;
  border-color: #868874;
  border-top-width: 1px;
  border-bottom-width: 1px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.now-trend::after {
  content: "#";
  background-color: #000000;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0.6;
  z-index: 1;
}

.img-now-trend1 {
  background-image: url(../images/trend1.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
} 

.img-now-trend2 {
  background-image: url(../images/trend2.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}

.img-now-trend3 {
  background-image: url(../images/trend3.jpg);
  background-repeat: no-repeat; 
  background-position: center top;
  background-size: cover;      
}

.img-now-trend4 {
  background-image: url(../images/trend4.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}

.box {
  z-index: 2;
  width: 90.24%;
  border: 3px solid #b59f5b;
  margin-top: 3.9%;
  margin-bottom: 3.9%;
  padding-top: 10.83%;
  padding-bottom: 10.83%;
  padding-left: 9.72%;
} 
 
.post-links {
  list-style-type: none;
  display: block;
}

.post-link-item {
  display: inline-block;  
}

.post-link-item:nth-child(n+2) {
  margin-left: 4.44%;
}

.post-link {
  text-decoration: none;
  color: #b59f5b;
  font-family: OpenSans-Bold;
  text-transform: uppercase;
}  

.title-post-name {
  font-family: OpenSans-Bold;
  color: #ffffff;
  text-transform: uppercase;
}

  .working-field {
  margin-right: auto;
  margin-left: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 61px;
  min-width: 320px;
}

.post-name {
  text-transform: uppercase;
  color: #0f0d0e;
  font-family: OpenSans-Bold;
  line-height: 1.2;
  text-decoration: none;
}
 
.date-of-publication {
  font-family: OpenSans-Regular;
  color: #888888;
}

.author-publication {
  font-family: OpenSans-Bold;
  font-weight: 700;
  margin-left: 15px;
} 

p {
  font-family: OpenSans-Regular;
  line-height: 1.4;
}

.name-conteiner {
  font-family: OpenSans-Bold;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  color: #0f0d0e;
}

.smoll-line {
  position: relative;
  display: inline-block; 
  display: flex;
  justify-content: center;
  margin-bottom: 45px;
}

.smoll-line::after {
  content: ""; 
  position: absolute; 
  background: #e1d9bd; 
  width: 66px; 
  height: 3px; 
  bottom: -14px;
}

.new-post {
  display: flex;
  flex-wrap: nowrap;
}

.illustration-new-post {
  padding-top: 7px;
}

.summary-new-post {
  margin-left: 20px;
}

.new-post-name {
  font-family: OpenSans-Bold;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 1.3;
  padding-top: 3px;
  text-decoration: none;
  color: #0f0d0e;
}

.new-post:nth-child(n+2) {
  margin-top: 15px;
}

.subscription-conteiner {
  margin-top: 24px;
}

.search {
  margin-top: 60px;
  display: flex;
  flex-wrap: nowrap;
}

.search-field {
  border-style: none;
  padding: 18px 0px 18px 18px;
  margin: 0;
  display: inline-block;
  vertical-align: middle;
  font-size: 13px;
  font-family: OpenSans-Regular;
  background-color: #f4f7f6;
}

.description-search-field {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button-search {
  border-style: none;
  background-color: #b59f5b;
  background-image: url(../svg/search.svg); 
  background-repeat: no-repeat;
  background-size: 18px;
  background-position: center center;
  cursor: pointer;
  display: flex;
}

.description-search-icon {
  display: none;
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute;
}

.subscription {
  display: flex;
  flex-direction: column;
}

.address-field {
  border-style: none;
  padding: 18px;
  margin: 0;
  vertical-align: middle;
  font-size: 13px;
  font-family: OpenSans-Regular;
  background-color: #f4f7f6;
}

.address-input-field {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button-subscription {
  margin-top: 18px;
  border-style: none;
  color: white;
  font-size: 14px;
  font-family: OpenSans-Bold;
  text-transform: uppercase;
  background-color: #b59f5b;
  cursor: pointer;
}

.navigation-tags {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap; 
}

.tag {
  border: 3px solid #ededed;
  padding: 3px 13px;
  text-align: center;
  margin-right: 6px;
}

.tag:nth-child(-n+6) {
  margin-bottom: 6px;
}

.tag-tab {
  text-decoration: none;
  color: #0f0d0e;
  font-family: OpenSans-Bold;
  text-transform: uppercase;
  vertical-align: middle;
}

.list-topic {
  list-style-type: none;
}

.tag-topic {
  border-bottom: 1px solid #eeeeee;
  text-align: left;
  display: flex;
  align-items: flex-end;
  padding-bottom: 13px;
}  

.tag-topic:nth-child(n+2) {
  height: 46px;
}

.topic {
  text-decoration: none;
  color: #000000;
  font-family: OpenSans-Bold;
}

.topic:first-letter {
  text-transform: uppercase;
}

.degree {
  vertical-align: super;
  color: #b59f5b;
}

.section-footer, .trends {
  margin-top: 64px;
}

.products-box {
  position: relative;
  outline: 3px solid #d3c59d;
}

.product-name {
  font-family: OpenSans-Bold;
  text-transform: uppercase;
  line-height: 1.2;
}

.product-text {
 line-height: 1.46;
}

.store-link {
  text-decoration: none;
  color: #b59f5b;
}

.product__footer {
  padding-top: 27px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.product__price {
  font-weight: 700;
  color: #222;
  line-height: 1;
  display: flex;
}

.product__price_old {
  text-decoration: line-through;
  margin-bottom: 5px;
}

.product__price-value {
  font-family: OpenSans-Bold;
}

.product__rub {
  margin-left: 0.2em;
}

.product__button {
  border: none;
  background-color: #b59f5b;
  padding: 1.18em 1.87em;
  text-transform: uppercase;
  font-family: OpenSans-Bold;
  color: #ffffff;
  cursor: pointer;
}

.base-footer {
  display: flex;
  align-items: center;
  justify-content: center; 
  flex-direction: column;
  margin-top: 63px;
  padding-bottom: 40px;
  min-width: 320px;
}

.space-social-networks {
  height: 83px;
  background-color: #f3f7f6; 
  background-position: center center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-social-networks {
  display: flex;
  flex-wrap: nowrap;
}  

.social-networks {
  list-style-type: none;
  float: left;
}

.social-networks:nth-child(n+2) {
  margin-left: 28px;
}

.svg-size {
  width: 20px;
}

.copyright {
  color: #999999;
  font-family: OpenSans-Bold;
  font-size: 12px;
  text-transform: capitalize;
  text-align: center;
  margin-top: 74px;
  min-width: 320px;
}

.link {
  text-decoration: none;
  color: #999999;
}
